<!-- src/app/nav-bar/nav-bar.component.html -->
<nav class="bg-white px-4 text-gray-400 rounded-b-xl w-full">
  <div class="bg-white flex justify-between items-center">
    <div class="flex items-center">
      <img class="m-0 w-[60px]" src="assets/logo.jpg" alt="logo" />
      <h1 className="text-gray-400 font-bold">Doctors</h1>
    </div>
    <ul class="flex items-center">
      <li class="m-1">
        <i class="fas fa-bell" style="color: gray; font-size: 20px;"></i>
      </li>
      <li class="m-1">
        <i class="fas fa-question-circle" style="color: gray; font-size: 20px;"></i>
      </li>
      <li class="m-1">
        <i class="fas fa-user" style="color: gray; font-size: 20px;"></i>
      </li>
    </ul>
  </div>
  <div class="bg-white flex justify-between items-center">
    <div class="flex items-center gap-4">
      <h1>Louise Reed</h1>
      <h1>Corporate</h1>
      <h1>Age 30</h1>
      <i class="fas fa-exclamation-circle" style="color: gray; font-size: 20px;"></i>
    </div>
    <div class="text-gray-500 flex items-center gap-3">
      <div class="flex items-center my-1">
        <i class="fas fa-sync-alt" style="color: gray; font-size: 20px;"></i>
        <h1>Patient Timeline</h1>
      </div>
      <div class="flex items-center my-1">
        <i class="fas fa-heartbeat" style="color: gray; font-size: 20px;"></i>
        <h1>Monitor</h1>
      </div>
      <div class="flex items-center my-1">
        <i class="fas fa-exclamation-triangle" style="color: gray; font-size: 20px;"></i>
        <h1>Alert</h1>
      </div>
    </div>
  </div>
</nav>

